#PYTHON METHODS

#INTEGER

In [17]:
#Arithmetic function of integers
a = 42
b = 7

In [18]:
r = a + b
print("Addition",r)

r = a - b
print("Subtraction",r)

r = a * b
print("Multiplication",r)

r = a / b
print("Division",r)

r = a // b
print("Floor Division",r)

r = a % b
print("Reminder",r)

r = a ** b
print("Power",r)

r = abs(a)
print("Absolute ",r)

Addition 49
Subtraction 35
Multiplication 294
Division 6.0
Floor Division 6
Reminder 0
Power 230539333248
Absolute  42

#FLOAT

In [9]:
#float.as_integer_ratio()
X = 2.75
r = X.as_integer_ratio()
print(r)

(11, 4)

In [10]:
#float.conjugate()
f = 5.5
print(f.conjugate())

5.5

In [12]:
#float.fromhex(s)
s = "0x1.91eb851eb851fp+1"
a = float.fromhex(s)
print(a)

3.14

In [13]:
#float.hex()
f = 3.14
print(f.hex())

0x1.91eb851eb851fp+1

In [19]:
#float.is_integer()
print((4.5).is_integer())

False

In [20]:
#float._abs_()
f = -7.3
print(f.__abs__())
print(abs(f))

7.3
7.3

In [26]:
#float.__add__ , __sub__ , __mul__ , __truediv__(other) , __floordiv__(other) , __mod__(other) , __pow__(other) , __round__(n) ,
a = 5.5
b = 2.2
c = 10.7
d = 4.2
e = 3.0
f = 4.757953
print(a.__add__(b))
print(c.__sub__(b))
print(a.__mul__(d))
print(c.__truediv__(b))
print(a.__floordiv__(b))
print(d.__mod__(b))
print(c.__pow__(e))
print(f.__round__(2))

7.7
8.5
23.1
4.863636363636363
2.0
2.0
1225.0429999999997
4.76

#COMPLEX

In [2]:
#Complex no creation
z = complex(2,3)
print(z)
z = complex(2,-3)
print(z)
z = complex(2,0)
print(z)
z = complex(0,3)
print(z)

(2+3j)
(2-3j)
(2+0j)
3j

In [3]:
# Arithmetic
z1 = complex(4,3)
z2 = complex(2,-5)
print(z1+z2)
print(z1-z2)
print(z1*z2)
print(z1/z2)

(6-2j)
(2+8j)
(23-14j)
(-0.24137931034482757+0.896551724137931j)

In [15]:
#Accessing real , imaginary , conjugate , abs(), complex and pow()
z1 = complex(4,3)
z2 = complex(2,-5)
print("real function of complex method", z1.real)
print("imaginary function of complex method",z2.imag)
print("conjugate function of complex method",z1.conjugate())
print("abs function of complex method",abs(z1))
print("complex function of complex method",complex(z1))
print("pow function of complex method",pow(z1,3))

real function of complex method 4.0
imaginary function of complex method -5.0
conjugate function of complex method (4-3j)
abs function of complex method 5.0
complex function of complex method (4+3j)
pow function of complex method (-44+117j)

#list

In [28]:
#Append
a = [1,4,6,8]
a.append(7)
print(a)

[1, 4, 6, 8, 7]

In [29]:
#Extend
a.extend([9,10,11])
print(a)

[1, 4, 6, 8, 7, 9, 10, 11]

In [30]:
#Insert
a.insert(2,5)
print(a)

[1, 4, 5, 6, 8, 7, 9, 10, 11]

In [31]:
#Remove
a.remove(11)
print(a)

[1, 4, 5, 6, 8, 7, 9, 10]

In [32]:
#Pop()
b = a.pop()
print("Before pop",a)
print("After pop",b)

Before pop [1, 4, 5, 6, 8, 7, 9]
After pop 10

In [34]:
#Index
print(a.index(4))

1

In [36]:
#Count
c = [3,5,7,3,4,6,5,5]
print(c.count(5))

3

In [43]:
#Sort
s = [3,2,7,1,4,6,5,9]
s.sort()
print(s)

[1, 2, 3, 4, 5, 6, 7, 9]

In [47]:
#Reverse
s.reverse()
print(s)

[1, 2, 3, 4, 5, 6, 7, 9]

In [48]:
#Copy
d = s.copy()
print(d)

[1, 2, 3, 4, 5, 6, 7, 9]

In [49]:
#Clear
a.clear()
print(a)

[]

In [52]:
#Length, Maximum, Minimum And sum
z = [6.,97,43,0,7,2,5,78,45,]
print("Length of list ",len(z))
print("Maximum of list ",max(z))
print("Minimum of list ",min(z))
print("sum of list ",sum(z))

Length of list  9
Maximum of list  97
Minimum of list  0
sum of list  283.0

#TUPLES

In [53]:
#Count
t = (3,5,7,3,4,6,5,5)
print(t.count(5))

3

In [54]:
#Index
print(t.index(6))

5

In [56]:
# Length , Maximum , Minimum ans Sum
print("Length of tuple ",len(t))
print("Maximum of tuple ",max(t))
print("Minimum of tuple ",min(t))
print("sum of tuple ",sum(t))

Length of tuple  8
Maximum of tuple  7
Minimum of tuple  3
sum of tuple  38

In [57]:
#Sorted
print(sorted(t))

[3, 3, 4, 5, 5, 5, 6, 7]

In [60]:
#All and Any
x = (0, False, 1 )
print("All bool_tuple in tuples",all(x))
print("Any bool_tuple in tuples",any(x))

All bool_tuple in tuples False
Any bool_tuple in tuples True

In [61]:
#Concatenation
print((1,2,3) + (4,5,6))

(1, 2, 3, 4, 5, 6)

In [62]:
#Repetition
t1 = (1,2,3)
print(t1*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [63]:
#Membership Testing
print(2 in t1)

True

In [66]:
#Tuple Unpacking
t2 = (1,2,3)
a,b,c = t2
print("A=",a)
print("B=",b)
print("C=",c)

A= 1
B= 2
C= 3

#STRING

In [67]:
#Changing Case - Upper and Lower
text = "Here i come"
print("String in Upper Case",text.upper())
print("String in Lower Case",text.lower())

String in Upper Case HERE I COME
String in Lower Case here i come

In [68]:
#Identify string case
text1 = "HERE I COME"
print("String in Upper Case",text1.isupper())
print("String in Lower Case",text1.islower())

String in Upper Case True
String in Lower Case False

In [72]:
#Capitalize , title and swapecase
text2 = "here i come"
print(text2)
print("String in Capitalize Case",text2.capitalize())
print("String in Title Case",text2.title())
text1 = "HeRe I ComE"
print(text1)
print("String in Swapecase Case",text2.swapcase())

here i come
String in Capitalize Case Here i come
String in Title Case Here I Come
HeRe I ComE
String in Swapecase Case HERE I COME

In [4]:
#Searching and Finding
text3 = "all the way we goo"
print("find in string",text3.find("way"))
print("index",text3.index("the "))
print("find last index of a string ",text3.rfind("w"))

find in string 8
index 4
find last index of a string  12

In [52]:
#Count and String length
text4 = "the occurance of a string "
print(text3.count("o"))
print(len(text3))

2
18

In [17]:
#Startwith and endswith
print("string starts with",text4.startswith("the"))
print("string starts with",text4.startswith("of"))
print("string ends with",text4.endswith("string"))
print("string ends with",text4.endswith(" "))

string starts with True
string starts with False
string ends with False
string ends with True

In [32]:
#Modifying and Formatting :- strip(), lstrip(),rstring(), replace(), split(), rsplit(), join(),
text5 = " Python string comes in with build in functions "
text6 = " and features"
print(text5)
print("Strip function in String ", text5.strip())
print("Strip function in String from left  ", text5.lstrip())
print("Strip function in String from right ", text5.rstrip())
print("Replace function in String",text5.replace("function","features"))
print("Split function in String ", text5.strip().split())
print("Split function in String from rigt side ", text5.strip().rsplit())
print("Join function in String ", text5.join(text6.split()))

 Python string comes in with build in functions
Strip function in String  Python string comes in with build in functions
Strip function in String from left   Python string comes in with build in functions
Strip function in String from right   Python string comes in with build in functions
Replace function in String  Python string comes in with build in featuress
Split function in String  ['Python', 'string', 'comes', 'in', 'with', 'build', 'in', 'functions']
Split function in String from rigt side  ['Python', 'string', 'comes', 'in', 'with', 'build', 'in', 'functions']
Join function in String  and Python string comes in with build in functions features

In [39]:
#Context checking :- isalnum(), isalpha(), isdigit(), isspace(), isupper()/islower(), istitle()
a = "my roll number is 2263xxxxx"
print("Is Alphanumeric in string",a.isalnum())
print("Is all characters in string",a.isalpha())
print("Is Digit in string",a.isdigit())
print("Is Space in string",a.isspace())
print("Is Title in string",a.istitle())

text9 = "HERE I COME"
print("String in Upper Case",text9.isupper())
print("String in Lower Case",text9.islower())

Is Alphanumeric in string False
Is all characters in string False
Is Digit in string False
Is Space in string False
Is Title in string False
String in Upper Case True
String in Lower Case False

In [47]:
#Aligning :- center, ljust, rjust , zfill ,
text10 = "This file was updated remotely or in another tab."
print("Center the String", text10.center(55, "-"))
print("left Align in the String", text10.ljust(55, "-"))
print("right Align in the String", text10.rjust(55, "-"))
print("Fill zero in the String from left= ", text10.zfill(55))

Center the String ---This file was updated remotely or in another tab.---
left Align in the String This file was updated remotely or in another tab.------
right Align in the String ------This file was updated remotely or in another tab.
Fill zero in the String from left=  000000This file was updated remotely or in another tab.

In [51]:
#Encoding and decoding
b = "All letters in this string are good letters."
encode = b.encode("ascii")
print(encode)
print(encode.decode("ascii",))

b'All letters in this string are good letters.'
All letters in this string are good letters.

#SET

In [56]:
# Adding and Removing of set :- add(), remove(), discard(), pop(), clear()
set1 = {4,3,7,8,2,0}
set.add(5)
print("Adding in set", set1)
set1.remove(3)
print("Removing in set", set1)
set1.discard(7)
print("Discard in set", set1)
set1.pop()
print("Pop in set", set1)
set1.clear()
print("Clear in set", set1)

Adding in set {0, 2, 3, 4, 7, 8}
Removing in set {0, 2, 4, 7, 8}
Discard in set {0, 2, 4, 8}
Pop in set {2, 4, 8}
Clear in set set()

In [57]:
# prompt: set operations

# Set operations
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Union
union_set = set1 | set2
print("Union:", union_set)

# Intersection
intersection_set = set1 & set2
print("Intersection:", intersection_set)

# Difference
difference_set1 = set1 - set2
print("Difference (set1 - set2):", difference_set1)

difference_set2 = set2 - set1
print("Difference (set2 - set1):", difference_set2)

# Symmetric Difference
symmetric_difference_set = set1 ^ set2
print("Symmetric Difference:", symmetric_difference_set)

set3 = {1,2}
# Subset
print("Is set3 a subset of set1?", set3.issubset(set1))

# Superset
print("Is set1 a superset of set3?", set1.issuperset(set3))

# Disjoint
set4 = {8,9}
print("Are set1 and set4 disjoint?", set1.isdisjoint(set4))

Union: {1, 2, 3, 4, 5, 6, 7}
Intersection: {3, 4, 5}
Difference (set1 - set2): {1, 2}
Difference (set2 - set1): {6, 7}
Symmetric Difference: {1, 2, 6, 7}
Is set3 a subset of set1? True
Is set1 a superset of set3? True
Are set1 and set4 disjoint? True

In [59]:

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# update / union
set1.update(set2)
print("In-place Union:", set1)


# intersection
set1.intersection_update(set2)
print("In-place Intersection:", set1)

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
#difference
set1.difference_update(set2)
print("In-place Difference (set1 - set2):", set1)

#symmetric difference
set1.symmetric_difference_update(set2)
print("In-place Symmetric Difference:", set1)

In-place Union: {1, 2, 3, 4, 5, 6, 7}
In-place Intersection: {3, 4, 5, 6, 7}
In-place Difference (set1 - set2): {1, 2}
In-place Symmetric Difference: {1, 2, 4, 3, 5, 6, 7}

In [60]:
#Set Comparision :- issubset(), issuperset(), isdisjoint()
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
set3 = {1,2}
print("Is set3 a subset of set1?", set3.issubset(set1))
print("Is set1 a superset of set3?", set1.issuperset(set3))
print("Are set1 and set4 disjoint?", set1.isdisjoint(set2))

Is set3 a subset of set1? True
Is set1 a superset of set3? True
Are set1 and set4 disjoint? False

In [61]:
#Copying and Length
set_copy = set1.copy()
print("Copy of set", set_copy)
print("Length of set", len(set1))

Copy of set {1, 2, 3, 4, 5}
Length of set 5

In [62]:
#Membership :- in, and not in
print(1 in set1)
print(8 not in set1)

True
True

#DICTIONARY

In [1]:


#items()
my_dict = {"a": 1, "b": 2}
print(f"items(): {my_dict.items()}")

copy(): {'a': 1, 'b': 2}
fromkeys(): {'a': 0, 'b': 0, 'c': 0}
get(): 1
get(): 0
items(): dict_items([('a', 1), ('b', 2)])
keys(): dict_keys(['a', 'b'])
pop(): 1
{'b': 2}
popitem(): ('b', 2)
setdefault(): {'a': 1, 'b': 2, 'c': 3}
update(): {'a': 1, 'b': 2, 'c': 3, 'd': 4}
values(): dict_values([1, 2])
clear(): {}

In [5]:
#Accessing and Retrievaing
my_dict = {"a": 1, "b": 2, "c": "Alice", "d":"Charlie"}

#get(key, default=None)
print(f"get(): {my_dict.get('a', 0)}")
print(f"get(): {my_dict.get('c', 0)}")

#keys()
print(f"keys(): {my_dict.keys()}")

# values()
print(f"values(): {my_dict.values()}")

get(): 1
get(): Alice
keys(): dict_keys(['a', 'b', 'c', 'd'])
values(): dict_values([1, 2, 'Alice', 'Charlie'])

In [33]:
#Adding, Updating and Removing
my_dict1 = {"A": 1, "B": 2, "C": "Alice", "D":"Charlie", "E":0 }
# update([other]).
print(f"update(): {my_dict}")

my_dict["e"] = 5
print(f"update(): {my_dict}")

# pop(key[, default]).
print(f"pop(): {my_dict.pop('E', 0)}")
print(my_dict)

# popitem()
item = my_dict.popitem()
print(f"popitem(): {item}")
print(my_dict)

# clear()
my_dict.clear()
print(f"clear(): {my_dict}")

#del
my_dict = {"A": 1, "B": 2, "C": "Alice", "D":"Charlie", "E":0 }
del my_dict['A']
print(f"del: {my_dict}")

update(): {'B': 2, 'C': 'Alice', 'D': 'Charlie'}
update(): {'B': 2, 'C': 'Alice', 'D': 'Charlie', 'e': 5}
pop(): 0
{'B': 2, 'C': 'Alice', 'D': 'Charlie', 'e': 5}
popitem(): ('e', 5)
{'B': 2, 'C': 'Alice', 'D': 'Charlie'}
clear(): {}
del: {'B': 2, 'C': 'Alice', 'D': 'Charlie', 'E': 0}

In [34]:
#Creating and Copying

my_dict = {"A": 1, "B": 2, "C": "Alice", "D":"Charlie", "E":0 }

#  copy()
copied_dict = my_dict.copy()
print(f"copy(): {copied_dict}")


#fromkeys(iterable, value=None)
keys = ["a", "b", "c"]
new_dict = dict.fromkeys(keys, 0)
print(f"fromkeys(): {new_dict}")

copy(): {'A': 1, 'B': 2, 'C': 'Alice', 'D': 'Charlie', 'E': 0}
fromkeys(): {'a': 0, 'b': 0, 'c': 0}

In [39]:
#Checking and Handling

my_dict = {"A": 1, "B": 2, "C": "Alice", "D":"Charlie", "E":0 }

#setdefault(key, default=None)
my_dict.setdefault("F", 3)
print(f"setdefault(): {my_dict}")

setdefault(): {'A': 1, 'B': 2, 'C': 'Alice', 'D': 'Charlie', 'E': 0, 'F': 3}

In [40]:
#Membership
print("A" in my_dict)
print("F" not in my_dict)

True
False

In [41]:
#Dictionary length
print(len(my_dict))

6

#BOOLEAN

In [42]:
#Behaviour
print(int(True))
print(int(False))
print(bool(0))
print(bool(1))

1
0
False
True

In [43]:
#Operation:- and , or , not
print(True and False)
print(True or False)
print(not True)

False
True
False

In [46]:
#Conversion

#bool()
print(bool("Hello Nikki"))

#int()
print(int(True))
print(int(False))

#str()
print(str(True))
print(str(False))

True
1
0
True
False

In [49]:
#Comparision operators :- == , != , > , < , >= , <=
print(True == False)
print(True != False)
print(45 > 67)
print(73 < 78)
print(67 >= 88)
print(80<= 85)

False
True
False
True
False
True

In [50]:
#Subclasses of Ineger

#bit_length()
print((True).bit_length())
print((False).bit_length())

#Conjugate()
print((True).conjugate())
print((False).conjugate())

#denominator()
print((True).denominator)
print((False).denominator)

#numerator()
print((True).numerator)
print((False).numerator)

1
0
1
0
1
1
1
0